@model RowRegattaTracker.Models.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div class="form">
@using (Html.BeginForm() ) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="">
        <legend>Event</legend>

        <div class="form-group">
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Location)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            @Html.ValidationMessageFor(model => model.Location)
        </div>

        <div class="editor-label" >
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StartTime, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EndTime, new { @class = "datepicker" })
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>
        <br />
        <p>
            <input type="submit" value="Create" class="btn btn-succes" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () { // will trigger when the document is ready
            $('.datepicker').datepicker({
                format: "dd/mm/yy" //nog uitzoeken
            }); //Initialise any date pickers
        });
      </script>
}
